body {
  margin: 0;
  font-family: 'Work Sans Bold', sans-serif;
  overflow: hidden;
}

.teleprompter-container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.teleprompter-wrapper {
  display: inline-block;
}

.teleprompter-text {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  color: #001f3f;
  animation: scrollText 600s linear infinite;
}

@keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}